main {
    overflow-x: hidden
}

#maintitle {
    padding-top: 35vh;
    padding-bottom: 45vh;
    text-align: center;
    box-sizing: border-box
}

#maintitle span {
    position: relative;
    display: inline-block;
    font-size: 8vw;
    animation-name: wave;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: calc(.1s*var(--i))
}

#next {
    bottom: 0
}

.box {
    width: 50vw;
    padding-top: 5vh;
    padding-bottom: 10vh
}

#box2 {
    position: relative;
    margin-left: auto
}

p {
    width: fit-content
}

#walking {
    position: relative;
    width: 30%;
    left: 60vw;
    top: -50vh;
    border-radius: 5rem
}

#coding {
    width: 30%;
    border-radius: 5rem;
    position: relative;
    top: -25vh
}

#book {
    position: relative;
    width: 30%;
    left: 60vw;
    top: -40vh;
    border-radius: 5rem
}
#improveimg
{
    width:20vw;
}