* {
  margin: 0rem 0rem
}

body {
  background: linear-gradient(#012a4a, #013a63, #01497c, #014f86, #2a6f97, #2c7da0, #468faf, #61a5c2, #89c2d9, #a9d6e5);
  background-attachment: fixed;
  text-align: center;
  font-family: "Alliance No.1", "Segoe UI", Helvetica, Arial;
  color: white
}

h1 {
  font-size: 2em;
  position: relative;
  display: inline-block;
  margin-top: 0;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
  line-height: 4.75rem
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center
}

.topdiv {
  position: relative;
  width: 7rem;
  height: 10rem;
  margin-bottom: 10em;
  font-size: 1rem;
  background: #013a63;
  border-radius: .5rem;
  box-sizing: border-box;
  box-shadow: 0 0 .5em white
}

div i {
  font-size: 2rem;
  color: white;
  margin: auto;
  padding: 2rem;
  box-sizing: border-box
}

.dropdiv {
  position: absolute;
  opacity: 0;
  font-size: 1rem;
  top: 0;
  margin: auto;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  color: black;
  border-radius: .5rem;
  transition: transform 2s
}

.input,
.button {
  font-size: 1rem;
  width: 70%;
  margin: auto
}

.button {
  border-radius: .5rem !important;
  background: #1ca01c !important
}

.topdiv:hover .dropdiv {
  opacity: 1;
  transform: translateY(100%);
  transition: .5s transform;
  z-index: -1
}

#back {
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  color: aliceblue;
  font-size: 300%;
  top: 1%;
  left: 0;
  margin: .5em
}