* {
    margin: 0%;
}

body {
    background: #013a63;
    color: aliceblue;
    font-family: Palatino,
        URW Palladio L,
        serif;
}

.navbar {
    position: fixed;
    border-radius: 0.5rem;
    box-shadow: 0em 0em 0.5em white;
    background: linear-gradient(#a9d6e5, #89c2d9, #61a5c2, #468faf, #2c7da0, #014f86, #01497c, #013a63, #013a63);
    display: flex;
    width: 100vw;
    z-index: 1;
}

.left,
.right {
    display: flex;
}

.right {
    margin-left: auto;
}

.left {
    z-index: 1;
    position: fixed;
    left: 0%;
    top: 0;
}


.sidebarcontent,
.sidecontent a,
.drophome a,
.dropcontact a,
.dropcontent a,
.dropabout a,
.login a,
.signup a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 1rem 2rem;
    font-size: large;
}

.dropcontent,
.dropabout,
.dropcontact {
    position: relative;
    z-index: 1;
}

.dropcontent,
.dropdownabout,
.dropdowncontact,
.sidecontent {
    position: absolute;
    width: 100%;
    display: none;
    z-index: -1;
    border-radius: 0.5rem;
}

.dropcontent a,
.dropdownabout a,
.dropdowncontact a {
    color: #012a4a;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
}

.dropcontent {
    width: max-content;
    height: 140vh;
    overflow-x: hidden;
}

.dropcontent a {
    text-align: left;
    display: block;
    height: fit-content;
    margin: 1em 0em
}

.sidebar:hover .dropcontent,
.dropabout:hover .dropdownabout,
.dropcontact:hover .dropdowncontact,
.left:hover .sidecontent {
    cursor: pointer;
    background: #fff;
    display: block;
    animation-name: maximize;
    animation-duration: 0.8s;
}

.sidebar:hover .dropcontent {
    animation-name: slideright;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    display: inline-block;
}

@keyframes slideright {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes maximize {
    0% {
        transform: translateY(0%);
        transform: scaleZ(0%);
        opacity: 0;
    }

    100% {
        transform: translateY(100%);
        transform: scaleZ(50%);
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotateX(-120deg);
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

@keyframes slidein {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.dropcontent a:hover,
.dropdownabout a:hover,
.dropdowncontact a:hover,
.sidecontent a:hover,
.buttons a:hover {
    background: #012a4a;
    color: #fff;
}

header {
    position: relative;
}

main {
    position: absolute;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    font-size: x-large;
}

.left:hover + main {
    left: 8em;
    transform: scaleX(-9em);
    transition: transform 0.8s, ;
    width: auto;
}
#next {
    position: relative;
    display: block;
    font-size: 3vw;
    width: 100%;
    left: 80%;
    padding-bottom: 5vh;
    box-sizing: border-box;
    color: aliceblue;
    text-decoration: none;
}
@keyframes wave {
    0% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20%)
    }

    100%,
    40% {
        transform: translateY(0)
    }
}