main {
    overflow-x: hidden;
    padding: 1rem;
    box-sizing: border-box;
    width: fit-content;
    padding: .25em
}

header>h1 {
    position: relative;
    top: 2vh;
    font-size: 3rem;
    text-align: center
}

#why {
    position: relative;
    top: 100vh;
    padding-top: 100vh;
    box-sizing: border-box;
    right: 20vw
}

h2 {
    text-align: center;
    font-stretch: expanded;
    box-sizing: border-box;
    padding-bottom: 10%;
    font-size: 6vw
}

.wavyintro {
    padding-top: 63vh;
    display: block;
    margin: auto
}

.wavyintro span {
    position: relative;
    display: inline-block;
    font-size: 8vw;
    animation-name: wave;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: calc(.1s*var(--i))
}

#dr {
    position: absolute;
    bottom: 0;
    left: 85vw;
    width: 25vw
}

#table {
    position: relative;
    border-radius: 5em;
    padding: 6rem;
    bottom: 2.5em;
    width: 40vw;
    display: block;
    margin: auto
}

header {
    position: relative;
    bottom: 30vh
}

#article {
    position: relative;
    padding-top: 100vh;
    box-sizing: border-box
}

#ascrollicon {
    padding-top: 35vh;
    position: relative;
    /*top:-35vh;*/
    font-size: 4vh;
    text-align: center;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}

#ascrollicon a {
    color: aliceblue;
    text-decoration: none
}

@keyframes floating {
    from {
        transform: translate(0, 0)
    }

    65% {
        transform: translate(0, 15px)
    }

    to {
        transform: translate(0, -0)
    }
}
#anotherdr{
    position: absolute;
    left:70vw;
    top:50vh;
}