#title {
    padding: 35vh;
    box-sizing: border-box ;
    text-align: center;
    
}

#title span {
    position: relative;
    display: inline-block;
    font-size: 8vw;
    animation-name: wave;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: calc(.1s*var(--i))
}

.topheading {
    position: relative;
    display: inline-block;
    padding: 10vw;
    box-sizing: border-box;
    text-align: center;
    font-size: 5vh
}

.subheading {
    position: relative;
    padding-left: 2em;
    font-size: x-large;
    font-weight: 700;
    animation-name: maximize;
    animation-duration: 2s
}

img {
    position: relative;
    left: 30%;
    width: 35%
}

.headline {
    padding-left: 3vw;
    padding-top: 3vw;
    padding-bottom: 1vw;
    box-sizing: border-box
}

.headlinetext,
ul {
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 4vh;
    box-sizing: border-box
}

.subtext {
    font-weight: lighter;
    padding-left: 6vw;
    padding-right: 6vw;
    box-sizing: border-box
}