#title {
    padding-top: 35vh;
    padding-bottom: 35vh;
    box-sizing: border-box;
    text-align: center
}

#title span {
    position: relative;
    display: inline-block;
    font-size: 8vw;
    animation-name: wave;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: calc(.1s*var(--i))
}

.topheading {
    position: relative;
    display: inline-block;
    padding: 10vw;
    box-sizing: border-box;
    text-align: center;
    font-size: 5vh
}

.subheading {
    position: relative;
    padding-left: 2em;
    font-size: x-large;
    font-weight: 700;
    animation-name: maximize;
    animation-duration: 2s
}

#img1 {
    position: relative;
    left: 20%;
    width: 60%;
    height: 80%
}

.headline1 {
    padding-left: 3vw;
    padding-top: 3vw;
    padding-bottom: 1vw;
    box-sizing: border-box
}

.headlinetext,
ul {
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 4vh;
    box-sizing: border-box
}

.subtext {
    font-weight: lighter;
    padding-right: 12vw;
    box-sizing: border-box;
    width: 50%
}

#contentmodel {
    width: 50vw
}

.arrowedtext {
    display: inline;
    width: 50vw;
    position: relative;
    left: 50vw;
    top: -90vh
}

#img2 {
    position: relative;
    left: 25vw;
    width: 30vw
}

#img3 {
    position: relative;
    width: 70%;
    left: 10vw;
    box-sizing: border-box;
    border-radius: 2rem
}

#img4 {
    position: relative;
    left: 20vw;
    border-radius: 2rem;
    box-sizing: border-box
}

#img5 {
    padding-left: 35vw;
    box-sizing: border-box
}

body {
    overflow-x: hidden
}

#pill {
    position: absolute;
    width: 20%;
    top: 30vh
}

h3 {
    display: inline
}