
main {
    padding: 3rem;
    box-sizing: border-box;
    width: 100%;
}

.left:hover+main {
    left: 8em;
    transform: scaleX(-9em);
    transition: transform .8s, ;
    width: auto;
}

p {
    width: auto;
    text-align: center;
    padding:4vh;
}

img {
    position: relative;
    left: 22vw;
    height: auto;
    padding: 5vw;
    box-sizing: border-box;
    border-radius: 5em;
}

#recommend {
    position: relative;
    left: 35vw;
    background-color: #f0f8ff;
    width: fit-content;
    padding: .5em;
    border-radius: .5em;
    margin-bottom: 10%
}

#recommend a {
    text-decoration: none;
    color: #012a4a
}

#recommend:hover {
    background: #012a4a;
    color: #fff;
    box-shadow: 0 0 .5em #fff
}

#recommend:hover a {
    color: #fff
}
#title {
    padding: 30vh;
    padding-bottom: 40vh;;
    text-align: center;
    box-sizing: border-box;
    
}
#title span {
    position: relative;
    display: inline-block;
    font-size: 8vw;
    animation-name: wave;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: calc(.1s*var(--i))
}
article
{
    display: block;
    padding-top: 40vh;
}
#endingsentence
{
    padding-top: 5vh;
    font-size: larger;
    font-weight: 100;
}