@media screen and (min-width:67.5em) {

    #img1,
    #img2 {
        top: 10%;
        width: 15%
    }

    header {
        top: 25vh
    }

    .buttons {
        top: 25vh
    }

    .together {
        top: 12vh
    }

    #img4 {
        top: 6rem
    }
}