* {
    margin: 0
}

body {
    background: linear-gradient(#012a4a, #013a63, #01497c, #014f86, #2a6f97, #2c7da0, #468faf, #61a5c2, #89c2d9, #a9d6e5);
    background-attachment: fixed;
    color: #f0f8ff;
    overflow: hidden
}

.navbar {
    position: fixed;
    border-radius: .5rem;
    box-shadow: 0 0 .5em #fff;
    background: linear-gradient(#a9d6e5, #89c2d9, #61a5c2, #468faf, #2c7da0, #014f86, #01497c, #013a63, #013a63);
    display: flex;
    width: 100%
}

.left,
.right {
    position: relative;
    display: flex
}

.right {
    margin-left: auto
}

.dropabout a,
.dropcontact a,
.dropcontent a,
.drophome a,
.login a,
.sidebarcontent,
.signup a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 1rem 2rem;
    font-size: large
}

.sidebarcontent {
    z-index: -1
}

.dropabout,
.dropcontact,
.dropcontent {
    position: relative;
    z-index: 1
}

.dropcontent,
.dropdownabout,
.dropdowncontact {
    position: absolute;
    width: 100%;
    display: none;
    z-index: 1;
    border-radius: .5rem
}

.dropcontent a,
.dropdownabout a,
.dropdowncontact a {
    color: #012a4a;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: .5rem;
    box-sizing: border-box;
    border-radius: .5rem
}

.dropcontent {
    position: fixed;
    width: max-content;
    height: 100vh
}

.dropcontent a {
    text-align: left;
    display: block;
    height: fit-content;
    margin: 1em 0
}

.dropabout:hover .dropdownabout,
.dropcontact:hover .dropdowncontact,
.sidebar:hover .dropcontent {
    cursor: pointer;
    background: #fff;
    display: block;
    animation-name: maximize;
    animation-duration: 1s
}

.sidebar:hover .dropcontent {
    cursor: pointer;
    background: #fff;
    display: block;
    animation-name: slideright;
    animation-duration: 1s
}

@keyframes slideright {
    from {
        transform: translateX(-100%);
        opacity: 0
    }

    to {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes maximize {
    0% {
        transform: translateY(0);
        transform: scaleZ(0);
        opacity: 0
    }

    100% {
        transform: translateY(100%);
        transform: scaleZ(50%);
        opacity: 1
    }
}

.buttons a:hover,
.dropcontent a:hover,
.dropdownabout a:hover,
.dropdowncontact a:hover {
    background: #012a4a;
    color: #fff
}

.buttons a:hover
{
    box-shadow: 0 0 .5em #fff
}

header {
    position: relative;
    text-align: center;
    top: 25vh;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%)
}

.buttons,
h1,
h2,
h3 {
    text-align: center;
    display: inline
}

h1 {
    font-size: 500%
}

h2 {
    font-size: 400%
}

h3 {
    font-size: 300%
}

#img1,
#img2 {
    position: absolute;
    z-index: -1;
    top: 15%;
    width: 20%
}

#img1 {
    right: 10%
}

#img2 {
    left: 10%
}

#img3 {
    position: absolute;
    top: 40%;
    width: 40%;
    left: 30vw
}

.together {
    position: relative;
    top: 25vh
}

#img4 {
    position: absolute;
    width: 40%;
    right: 15vw;
    top: 4rem
}

.buttons {
    position: relative;
    top: 27vh;
    display: flex;
    justify-content: center ;   
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.buttons a {
    background: #fff;
    margin: 2%;
    text-decoration: none;
    border-radius: 1rem;
    padding: 1%;
    font-size: larger;
    font-weight: 700;
    color: #013a63
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 15px);
    }

    to {
        transform: translate(0, -0px);
    }
}